<div class='navCont'>
  <nav class='navbar'>
  <%= link_to 'RecipeApp', user_session_path, class:'logo' %>
    <section class='controls'>
      <% if user_signed_in?%>
      <%= link_to 'My Recipes', recipes_path, class: 'navlinks'%>
      <%= link_to "Public Recipes", public_recipes_recipes_path, class: 'navlinks' %>
      <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "navlinks" %>
      <% else %>
      <%= link_to 'Sign In', user_session_path,class: 'navlinks'%>
      <% end %>      
    </section>
  </nav>  
</div>
